// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #00c9a7;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #50dac3;

// sidebar
$menuText:#ffffff;
$menuActiveText:#409EFF;
$subMenuActiveText:#cccccc; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#2b8a7a;
$menuHover:#00c9a7a6;

$subMenuBg:#2b8a7a;
$subMenuHover:#00c9a7a6;

$sideBarWidth: 240px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
