// base color
$blue:#377dff;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #4fba66;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #048864;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#4fba66;
$menuHover:#4fba66b8;

$subMenuBg:#4fba66b8;
$subMenuHover:#59d072b8;

$sideBarWidth: 230px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
