// base color
$blue:#377dff;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #4fba66;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #048864;

// sidebar
$menuText:#676767;
$menuActiveText:#4fba66;
$menuHoverText:#ffffff;
$subMenuActiveText:#4fba66; // https://github.com/ElemeFE/element/issues/12951
$subMenuHoverText:#fefefe; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#ffffff;
$menuHover:#fcfcfc;

$subMenuBg:#ffffff;
$subMenuHover:#59d072;

$sideBarWidth: 230px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  subMenuHoverText: $subMenuHoverText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
